/* This class is used to notify of undocumented segments on the
   documentation pages. */

.undocumented {
    background-color: #d2ffbf;
}

/* Italicise romaji. */

.romaji {
    font-style: italic;
}

/* Radical used. */

.used {
    background: pink;
}

code {
    color: black;
}

.viewer-input {
    width: 3em;
}

#kanji-image svg {
    display: block;
    width: 327px;
    height: 327px;
}

#viewer-controls {
    display: grid;
}

@media screen and (min-width: 600px) {
    #kanji-etc {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #kanji-options {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #kanji-actions {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: inline;
    }

    #kanji-visuals {
        display: grid;
    }

    #kanji-image {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #sub-images {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 800px) {
    #kanji-etc {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #kanji-options {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #kanji-actions {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        display: inline;
    }
}

.control-label {
    width: unset;
}

label {
    display: unset;
}

.sub-image {
    display: inline;
}

#radical-images {
    display: inline;
}

#group-images {
    display: inline;
}

.group-image {
    display: inline;
}

#sub-images {
    display: inline;
}

svg.group-svg {
    display: block;
    width: 145px;
    height: 145px;
    margin: 0px;
    padding: 0px;
}

.sidebar-nav {
    padding: 9px 0;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: 1.25em;
}

figure {
    display: inline-table;
    padding: 0px;
    margin: 0px;
    margin-inline: 0px;
    margin-block: 0px;
}

.radical-explanation {
    text-decoration: none;
    font-weight: bold;
}

.radical-stroke {
    stroke: #c586d7;
    stroke-width: 4px;
}

/* Make the types very big so it's easier to see them. */

dt.stroke-type {
    font-size: 2em;
    margin: 0.5em;
    font-family: "Meiryo UI";
}

#user-message {
    background: #eed;
    display: none;
    font-size: 1.5em;
    line-height: 2em;
    margin: 1em;
    padding: 1em;
}

#kanji-label {
    font-size: 1.5em;
}

#kanji {
    font-size: 1.5em;
}
