/* This class is used to notify of undocumented segments on the
   documentation pages. */
.undocumented {
    background-color: #d2ffbf;
}

/* Italicise romaji. */
.romaji {
    font-style: italic;
}

/* Radical used. */
.used {
    background: pink;
}

code {
    color: black;
}

.viewer-input {
    width: 3em;
}

#kanji-image svg {
    display: block;
    width: 327px;
    height: 327px;
}

#viewer-controls {
    display: grid;
}


@media screen and (min-width: 600px) {
    #kanji-etc {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
    }

    #kanji-options {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
    }

    #kanji-actions {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	display: inline;
    }
}

@media screen and (min-width: 800px) {
    #kanji-etc {
	grid-column-start: 1;
	grid-column-end: 2;
    }

    #kanji-options {
	grid-column-start: 2;
	grid-column-end: 3;
    }

    #kanji-actions {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	display: inline;
    }
}

.control-label {
    width: unset;
}

label {
    display: unset;
}
