<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {%- if site.author %}
    <meta name="author" content="{{ site.author }}">
    {%- endif %}
    {%- if page.description %}
    <meta name="description" content="{{ page.description }}">
    {%- endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/application.css">
    {%- if page.name == "viewer.html" %}
    <script type="text/javascript" src="js/{{ site.jquery }}"></script>
    <script type="text/javascript" src="js/kanjivg.js"></script>
    <script type="text/javascript" src="js/kanjiviewer.js"></script>
    <script type="text/javascript" src="js/KanjivgAnimate.js"></script>
    {%- endif %}
    {%- if page.name == "listing.html" %}
    <script type="text/javascript" src="js/{{ site.jquery }}"></script>
    <script type="text/javascript" src="js/kanjivg.js"></script>
    <script type="text/javascript" src="js/listing.js"></script>
    {%- endif %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">KanjiVG</a>

            <form class="navbar-search pull-right" method="get" action="viewer.html">
              <input type="text" class="search-query" placeholder="View kanji" name="kanji">
            </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
	      <li class="nav-header">Project</li>
	      {%- for link in site.project-links %}
	      {%- assign active = nil %}
	      {%- assign white = nil %}
	      {%- if page.name == link.url %}
	      {%- assign active = 'active' %}
	      {%- assign white = 'icon-white' %}
	      {%- endif %}
	      <li class="{{ active }}">
                <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
	      </li>
	      {%- endfor %}
	      <li class="nav-header">Format</li>
	      {%- for link in site.format-links %}
	      {%- assign active = nil %}
	      {%- assign white = nil %}
	      {%- if page.name == link.url %}
	      {%- assign active = 'active' %}
	      {%- assign white = 'icon-white' %}
	      {%- endif %}
	      <li class="{{ active }}">
                <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
	      </li>
	      {%- endfor %}
	      <li class="nav-header">Community</li>
	      {%- for link in site.community-links %}
	      {%- assign active = nil %}
	      {%- assign white = nil %}
	      {%- if page.name == link.url %}
	      {%- assign active = 'active' %}
	      {%- assign white = 'icon-white' %}
	      {%- endif %}
	      <li class="{{ active }}">
                <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
	      </li>
	      {%- endfor %}
            </ul>
          </div>
        </div>
        <div class="span10">
          {{ content }}
        </div>
      </div>
      <hr>
      <footer>
	{% if page.name == "viewer.html" %}
	<div id="acknowledgements">
	  <h3>Acknowledgements</h3>
	  <p>
	    The animated kanji display is provided by 
	    <a href="{{ page.nidera }}">KanjivgAnimate</a>, copyright
	    NihongoDera, used under the 
	    <a href="{{ page.nidera }}/blob/master/LICENSE">MIT
	      License</a>.
	  </p>
	</div>
	{% endif %}
        <p>
	  &copy; 2009 &mdash; {{ site.year }} {{ site.author }} &mdash; <a href="index.html">Licensing</a>
	</p>

	<p>
	  The source code for this documentation is at
	  <a href="{{ site.url }}">github.com</a>.  Report issues with
	  the documentation on the
	  <a href="{{ site.url }}/issues">issues page</a>.  To ask
	  questions or discuss KanjiVG, use the <a href="{{ site.group
	  }}">mailing list</a>.
	</p>
      </footer>
    </div>
  </body>
</html>
